body {
  background-color: #282728;
  color: grey;
}

label {
  display: inline;
}

li {
  display: unset;
}

input[type="checkbox"] {
  display: none;
}

input:checked~blad-unit-portrait {
  border-color: red;
}

input[type="radio"] {
  display: none;
}

#unit-selector {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: scroll;
  max-height: 27rem;
  max-width: 45rem;
  gap: 1rem;
  background-color: #171617;
}

#mission-selector {
  overflow: scroll;
  max-height: 27rem;
  max-width: 45rem;
  background-color: #171617;
}

#mission-selector>li>label>div {
  border-style: solid;
  border-width: thick;
}

input[type="radio"]:checked~div {
  border-color: red;
}

input[type="radio"]:not(:checked)~div {
  border-color: #171617;
}

#mission-selector>li>label>.name {
  border-bottom: none;
  background-color: #060506;
}

#mission-selector>li>label>.enemy-list {
  border-top: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: #060506;
}

#active-fighters {
  display: flex;
  flex-flow: row;
  overflow: scroll;
  max-width: 60rem;
}

#fight {
  display: grid;
  grid-template-areas:
    "player . . enemy"
    "player ap ae enemy"
    "player a a enemy"
    "player . . enemy"
    "v v v v";
  grid-template-columns: repeat(4, 15rem);
}

#fight>label>ol {
  display: flex;
  flex-flow: column;
}

#player-team, #enemy-team {
  height: 40rem;
  overflow: scroll;
}

#player-team {
  grid-area: player;
}

#enemy-team {
  grid-area: enemy;
}

#active-player {
  grid-area: ap;
}

#active-enemy {
  grid-area: ae;
}

#actions {
  grid-area: a;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

li.action {
  flex-basis: 50%;
}

label.action, button.action {
  height: 100%;
  width: 100%;
}

label.group {
  display: contents;
}

button#validate-turn {
  grid-area: v;
}

button.selected {
  background: red;
  border: red;
}

div#save {
  display: grid;
  height: 10rem;
  width: 47rem;
  grid-template-areas: 
    "f f"
    "f f"
    "f f"
    "f f"
    "s l";
}

textarea {
  grid-area: f;
  color: grey;
  background-color: #282728;
  overflow: scroll;
}

button#load {
  grid-area: l;
}

button#save {
  grid-area: s;
}
